@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
h1{
    color: red;
    text-align: center;
    font-size: 50px;
    font-family: "Gravitas One", serif;
}

.images{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    gap: 5px;
}
.outsideimg{
    display: block;
    margin: auto;
}